
.row {
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
	justify-content: center;
}

#btn20 ,#btn50, #btn1, #btn2 {
	height: 100px;
	width: 100px;
	margin: 10px;
}
.coins {
	display:flex;
	justify-content: center;
}
body p {
	color: black;
	font-size : 20px;
}
.btn-warning  {
	color: black;
	font-size : 20px;
	font-weight: bold;
	height: fit-content;
	width : fit-content;
}
.somme-row{
	display: grid;
	justify-content: center;
	
}
.colSomme {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.colDate {
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	background-color: rgb(202, 202, 202);
	border-radius: 10px;
	height: fit-content;
	width:fit-content;
}